body,html{
  font-family: Angsana New;
  font-size: 1.1rem;
}

#Menu {
  background: #F0B429;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.TOPPAGE{
  display: block;
  text-align: center;
  color: #F47920;
  font-size: 30px;
  font-weight: bold;
}

#Titlepage{
  font-size: 1.2em;
}

.nav-up{
  padding: 15px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  color: #006680;
  border: #005888 1px solid;
  border-radius: 20px;
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
}

.nav-up:hover{
background: #005888;
font-weight: bold;
color:#F47920;
}



#Twunad{
    display: inline-block;
    vertical-align: top;
  }


#tweetsunad{
border:  #005883 2px solid;
border-radius: 10px;
color: #F47920;
text-align: center;
font-size: 20px;
background: #006680;
}

.footer{
  text-align: center;
  border-radius: 10px;
  background:#005883;
  margin-top: 5em;
  display: block;
}

ul.footer li {
  display: inline;
  color:white;
  padding-left: 3em;
}
