body,html{
  font-family: Angsana New;
}

.TOPPAGE{
  display: block;
  text-align: center;
  color: #F47920;
  font-size: 30px;
  font-weight: bold;
}

.block {
  display: block;}

.cent {
  text-align: center;}

.line {
  display: inline;}

.nav-up{
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #006680;
    border: #005888 1px solid;
    border-radius: 20px;
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
  }

  .nav-up:hover{
  background: #005888;
  font-weight: bold;
  color: #F47920;
  }

#Menu {
  background: #F0B429;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.start{
  text-align: center;
}


#Inicio{
  display: inline-block;
  width: 65%;
  vertical-align: top;
  font-size: 20px;
  padding-left: 20px;
}

#InicioSegundo{
  display: inline-block;
  width: 65%;
  vertical-align: top;
  font-size: 20px;
  padding-left: 10px;
}

.contenido{
  border: 1px black solid;
  padding-left: 10px;
  margin-bottom: 5px;
}

.Titulosdescriptores {
  color: #005888;
}

.Subtitulosdescriptores {
  color: #F47920;
}

#Twunad{
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

#tweetsunad{
border:  #005883 2px solid;
border-radius: 10px;
color: #F47920;
text-align: center;
font-size: 20px;
background: #006680;
}


img.mockup {
  display: inline;}

h1 {
  text-align: center;}

ul.start li {
  display:inline;
  padding: 20px
    }
